@import "./color_schemes/dark";
$link-color: #c17a5f;
$button-color: #c17a5f;
$border-color: #4a4a4a;

div.tabela-bardo table {
  border: 2px solid #8c977d;
  border-radius: 8px;
}

thead {
    display: none;
}
